/*Tipografia*/
@import url('https://fonts.googleapis.com/css2? family= Crimson+Text:wght@400;700 & display=swap');

body{
    margin: 0;
    background-color: #222;
}

/*Header*/

.topnav {
    background-color: black;
    overflow: hidden;
}

.topnav .logo p a{
    padding-left: 25px;
    padding-top: 0px;
    font-size: 35px;
    color: #00ff6e;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 12px;
    padding-right: 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.topnav a:hover {
    color: #ddd;
}

.topnav a.active {
    color: #ABB2B9;
    font-weight: bold;
}

.topnav .icon {
    display: none;
}

/*Final Header*/

#conocenos{ /*Desarrollo conocenos/texto y titulo*/
    padding-left: 50px; ;
    width: 90%;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
}

#conocenos p{
    font-size: 22px;
}

#conocenos p span{
    font-size: 23px;
    font-weight: lighter;
}

#conocenos p span b{
    color: #00ff6e;
}

#conocenos .color-1{
    color: #00ff6e;
} /*Fin desarrollo conocenos/texto y titulo*/

/* Pie de pagina*/
footer{
    background-color: #111;
    margin: 0;
    padding-bottom: 1px;
}

.footer-conteiner{
    padding: 70px 30px 20px;
}

.social-icons{
    display: flex;
    justify-content: center;
}

.social-icons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
    font-size: 1.5em;
    color: black;
    opacity: 0.9;
}

.social-icons a:hover{
    background-color: #111;
    transition: 0.5s;
}

.social-icons a:hover{
    color: white;
    transition: 0.5s;
}

.footer-nav ul{
    display: flex;
    justify-content: center;
}

.footer-nav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footer-nav ul li a:hover{
    opacity: 1;
}

.footer-bottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footer-bottom p{
    color: white;
}

.designer{
    color: #00ff6e;
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media only screen and (max-width : 700px){

    /*Tipografia*/
    @import url('https://fonts.googleapis.com/css2? family= Crimson+Text:wght@400;700 & display=swap');

    #conocenos{ /*Desarrollo conocenos/texto y titulo*/
        padding: 10px;
        color: white;
        padding-top: 2px;
        padding-bottom: 15px;
        width: 95%;
    }
    
    #conocenos p{
        font-size: 15px;
        padding-top: 2px;
    }
    
    #conocenos p span{
        font-size: 21px;
        font-weight: lighter;
    }
    
    #conocenos p span b{
        color: #00ff6e;
    }
    
    #conocenos .color-1{
        color: #00ff6e;
    } /*Fin desarrollo conocenos/texto y titulo*/
    
}

@media only screen and (max-width : 553px){

    /*Tipografia*/
    @import url('https://fonts.googleapis.com/css2? family= Crimson+Text:wght@400;700 & display=swap');

    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
    float: right;
    display: block;
    }

    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    }
    
    .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    }

    #conocenos{ /*Desarrollo conocenos/texto y titulo*/
        padding: 10px;
        color: white;
        padding-top: 2px;
        padding-bottom: 10px;
    }
    
    #conocenos p{
        font-size: 15px;
        padding-top: 10px;
    }
    
    #conocenos p span{
        font-size: 17px;
        font-weight: lighter;
    }
    
    #conocenos p span b{
        color: #00ff6e;
    }
    
    #conocenos .color-1{
        color: #00ff6e;
    } /*Fin desarrollo conocenos/texto y titulo*/
    
}


