body{
    font-family: Work Sans;
    background-color: #F0F3F4;;
    margin: 0;
    background-color: #559571;
}

/* Header */

.topnav {
    background-color: black;
    overflow: hidden;
}

.topnav .logo p a{
    padding-left: 25px;
    padding-top: 0px;
    font-size: 35px;
    color: #00ff6e;
}

.topnav .logo p a:hover{
    color: #ABB2B9;
}


.topnav a {
    float: left;
    display: block;
    color: white;
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 12px;
    padding-right: 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.topnav a:hover {
    color: #ddd;
}

.topnav a.active {
    color: #ABB2B9;
    font-weight: bold;
}

.topnav .icon {
    display: none;
}

/* Final Header */

.form{
    background-color: black;
    margin: auto;
    width: 40%;
    max-width: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 1em 2em;
    border-radius: 15px;
    background: transparent;
    border: 3px solid white;
    color: white;
}


.form-title{
    font-size: 2em;
}

.texto{
    font-size: 17px;
    padding-right: 130px;
}

.form-container{
    margin-top: 2em;
    gap: 2.5em;
}

.form-group{
    position: relative;
    color: white;
}

.form-input{
    border-radius: 8px;
    height: 35px;
    width: 100%;
    background: none;
    background-color: #F0F3F4;
}

#form .form-submit{
    font-weight: bolder;
    border-radius: px;
    color: black;
    background-color: #F0F3F4;
    height: 30px;
    width: 20%;
}

/* Pie de pagina*/
footer{
    background-color: #111;
    margin: 0;
    padding-bottom: 1px;
}

.footer-conteiner{
    padding: 70px 30px 20px;
}

.social-icons{
    display: flex;
    justify-content: center;
}

.social-icons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
    font-size: 1.5em;
    color: black;
    opacity: 0.9;
}

.social-icons a:hover{
    background-color: #111;
    transition: 0.5s;
}

.social-icons a:hover{
    color: white;
    transition: 0.5s;
}

.footer-nav ul{
    display: flex;
    justify-content: center;
}

.footer-nav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footer-nav ul li a:hover{
    opacity: 1;
}

.footer-bottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footer-bottom p{
    color: white;
}

.designer{
    color: #00ff6e;
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}


@media only screen and (max-width : 700px){

    body{
        font-family: Work Sans;
        background-color: #F0F3F4;;
        margin: 0;
        background-color: #559571;
    }

    .form{
        background-color: black;
        margin: auto;
        width: 50%;
        max-width: 400px;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 1em 2em;
        border-radius: 15px;
        background: transparent;
        border: 3px solid white;
        color: white;
    }
    
    
    .form-title{
        font-size: 28px;
    }
    
    .texto{
        font-size: 17px;
        padding-right: 130px;
    }
    
    .form-container{
        margin-top: 2em;
        gap: 2.5em;
    }
    
    .form-group{
        position: relative;
        color: white;
    }
    
    .form-input{
        border-radius: 8px;
        height: 35px;
        width: 100%;
        background: none;
        background-color: #F0F3F4;
    }
    
    .form-submit{
        font-weight: bolder;
        border-radius: 6px;
        color: black;
        background-color: #F0F3F4;
        height: 30px;
        width: 20%;
    }

    .footer-nav ul li{
        text-align: center;
    }
}

@media only screen and (max-width : 553px){  /*Tamaño para Celular*/

    body{
        font-family: Work Sans;
        background-color: #F0F3F4;;
        margin: 0;
        background-color: #559571;
    }

    .topnav a:not(:first-child) {display: none;}
            .topnav a.icon {
            float: right;
            display: block;
        }

        .topnav.responsive {position: relative;}
        .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
        }

        .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        }

    .form{
        background-color: black;
        margin: auto;
        width: 78%;
        max-width: 400px;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 1em 2em;
        border-radius: 15px;
        background: transparent;
        border: 3px solid white;
        color: white;
    }
    
    
    .form-title{
        font-size: 28px;
    }
    
    
    .form-container{
        margin-top: 2.2em;
        gap: 2em;
    }
    
    .form-group{
        position: relative;
        color: white;
    }
    
    .form-input{
        border-radius: 8px;
        height: 28px;
        width: 100%;
        background: none;
        background-color: #F0F3F4;
    }
    
    .form-submit{
        font-weight: bolder;
        border-radius: 6px;
        color: black;
        background-color: #F0F3F4;
        height: 30px;
        width: 30%;
    }



    .footer-nav ul li a{
        text-align: center;
        text-decoration: none;
    }
}
