body{
    margin: 0;
    background-color: #fefcfc;
}

/*----------Config----------------------------*/
section,footer{
    font-family: Arial, Helvetica, sans-serif;
}

/*----------Header-------------------------*/
header{
    position: fixed;
    width: 100%;
}

.topnav {
    background-color: black;
    position: fixed;
    width: 100%;
}

.topnav .logo p a{
    padding-left: 25px;
    padding-top: 0px;
    font-size: 35px;
    color: #00ff6e;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 12px;
    padding-right: 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.topnav a:hover {
    color: #ddd;
}

.topnav a.active {
    color: #ABB2B9;
    font-weight: bold;
}

.topnav .icon {
    display: none;
}

/*----------Principal-Img---------------------------*/
#img-principal { 
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)  
    ) 
    ,url("../img/fondo-principal.jpg");

    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center center;
    height: 430px;
}

/*----------Temario----------------------------*/
#temario-introduccion { 
    padding: 70px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#temario-introduccion .temario a{
    font-weight: bold;
    text-decoration: none;
    color: black;
}

#temario-introduccion .temario p{
    font-weight: bold;
    padding-left: 22px;
    font-size: 22px;
}

#temario-introduccion .temario a:hover{
    transition: 0.3s;
    color: #11aa54;
}

#placa-mother, #procesador, #memoria-ram, #disco-duro, #disco-solido, #disco-m2 , #placa-video, #fuente-alimentacion{
    padding-left: 1px;
    display: flex;
}

/*----------separador----------------------------*/
hr{
    border: 2px black solid;
    width: 95%;
}

/*----------Mother----------------------------*/
.placa-mother-img img{
    padding-left: 55px;
    padding-top: 45px;
    width: 430px;
    height: 270px;
}

.explicacion-placa-mother{
    width: 50%;
    font-size: 14.5px;
    padding-left: 80px;
}

.explicacion-placa-mother span{
    color: #11aa54;
    font-weight: bold;
}

.placa-mother-img{
    padding-bottom: 0px;
}

/*----------Procesador----------------------------*/
.procesador-img img{
    padding-left: 55px;
    padding-top: 85px;
    width: 430px;
    height: 270px;
}

.explicacion-procesador{ 
    width: 50%;
    font-size: 14.5px;
    padding-left: 80px;
} 

.explicacion-procesador span{
    color: #11aa54;
    font-weight: bold;
}

.procesador-img{
    padding-bottom: 0px;
}

/*----------Memoria Ram----------------------------*/
.ram-img img{
    padding-left: 55px;
    padding-top: 75px;
    width: 430px;
    height: 270px;
}

.explicacion-memoria-ram{
    width: 50%;
    font-size: 14.5px;
    padding-left: 80px;
}

.explicacion-memoria-ram span{
    color: #11aa54;
    font-weight: bold;
}

.ram-img{
    padding-bottom: 0px;
}

/*----------Disco Duro----------------------------*/
.explicacion-disco-duro{
    width: 50%;
    font-size: 14.5px;
    padding-left: 80px;
} 

.disco-duro-img img{
    padding-left: 55px;
    padding-top: 100px;
    width: 430px;
    height: 270px;
}

.disco-duro-img{
    padding-bottom: 0px;
}

.explicacion-disco-duro span{
    color: #11aa54;
    font-weight: bold;
}

/*----------Disco Solido----------------------------*/
.explicacion-disco-solido{ 
    width: 50%;
    font-size: 14.5px;
    padding-left: 80px;
}

.disco-solido-img img{
    padding-left: 55px;
    padding-top: 60px;
    width: 430px;
    height: 250px;
}

.explicacion-disco-solido span{
    color: #11aa54;
    font-weight: bold;
}

.disco-solido-img{
    padding-bottom: 0px;
}

/*----------Disco M.2----------------------------*/
.explicacion-disco-m2{ 
    width: 50%;
    font-size: 14.5px;
    padding-left: 80px;
}

.disco-m2-img img{
    padding-left: 55px;
    padding-top: 70px;
    width: 430px;
    height: 250px;
}

.disco-m2-img{
    padding-bottom: 0px;
}

.explicacion-disco-m2 span{
    color: #11aa54;
    font-weight: bold;
}

/*----------Placa de Video----------------------------*/
.explicacion-placa-video{ 
    width: 50%;
    font-size: 14.5px;
    padding-left: 80px;
}

.placa-video-img img{
    padding-left: 55px;
    padding-top: 90px;
    width: 430px;
    height: 250px;
}

.placa-video-img{
    padding-bottom: 0px;
}

.explicacion-placa-video span{
    color: #11aa54;
    font-weight: bold;
}

/*----------Fuente de Alimentacion----------------------------*/
.explicacion-fuente-alimentacion{ 
    width: 50%;
    font-size: 14.5px;
    padding-left: 80px;
}

.fuente-alimentacion-img img{
    padding-left: 55px;
    padding-top: 52px;
    width: 430px;
    height: 250px;
}

.explicacion-fuente-alimentacion span{
    color: #11aa54;
    font-weight: bold;
}

#fuente-alimentacion{
    padding-bottom: 20px;
}

#form{
    color: black;
    margin: auto;
    width: 40%;
    max-width: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 1em 2em;
    border-radius: 15px;
    background: transparent;
    border: 3px solid rgb(0, 0, 0);
}


.form-title{
    font-size: 2em;
}

.texto{
    font-size: 17px;
    padding-right: 130px;
}

.form-container{
    margin-top: 2em;
    gap: 2.5em;
}

.form-group{
    position: relative;
    color: black;
}

.form-title{
    color: black;
}

.form-input{
    border-radius: 8px;
    height: 35px;
    width: 100%;
    background: none;
    background-color: #ffff;
}

.form-submit{
    cursor: pointer;
    font-weight: bold;
    background-color: #fffcfc;
    height: 28px;
    width: 20%;
}

.form-submit:hover{
    transition: 0.5s;
    background-color: #ddd;
    color: #202020;
}

footer{
    background-color: #111;
    margin: 0;
    padding-bottom: 1px;
}

.footer-conteiner{
    padding: 70px 30px 20px;
}

.social-icons{
    padding-left: 17px;
    font-size: 22px;
    text-align: center;
    padding-bottom: 20px;
}

.social-icons a{
    text-decoration: none;
    margin: 14px;
    font-size: 38px;
    color: rgb(255, 255, 255);
    opacity: 0.9;
}

.social-icons a:hover{
    color: #c4c4c4;
    transition: 0.5s;
}

.footer-nav{
    padding-left: 12px;
    text-align: center;
    padding-bottom: 32px;
}

.footer-nav a{
    text-align: center;
    color: white;
    margin: 8px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footer-nav a:hover{
    opacity: 1;
}

.footer-bottom{
    background-color: #000;
    padding: 12px;
    text-align: center;
}

.footer-bottom p{
    color: white;
}

.designer{
    color: #00ff6e;
    opacity: 0.7;
    letter-spacing: 1px;
    font-weight: bolder;
    margin: 0px 5px;
}

#conocenos{
    background-color: #faf8f8;
    padding-bottom: 10px;
    padding-top: 10px;
}

#conocenos .texto-conocenos{
    width: 50%;
    font-size: 14.5px;
    padding-left: 80px;;
}

#conocenos p span b{
    color: #11aa54;
}

#contactanos{
    padding-top: 15px;
    background-color:  #faf8f8;
}


@media only screen and (max-width : 1100px) { /*Tamaño para Celular*/
        
        .topnav .logo p a{
            padding-left: 10px;
            padding-top: 0px;
            font-size: 35px;
            color: #00ff6e;
        }
        
        .topnav a:not(:first-child) {display: none;}
            .topnav a.icon {
            float: right;
            display: block;
        }

        .burguer{
            color: white;
            font-size: 25px;
        }

        .exit{
            display: none;
        }

        .topnav.topnav.responsive .burguer{
            display: none;
            
        }

        .topnav.topnav.responsive .exit{
            display: block;
            font-size: 25px;
            align-items: end;
        }


        .topnav.responsive {position: fixed;}
        .topnav.responsive a.icon {
        right: 0;
        top: 0;
        }

        .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        }

        h2{
            font-size: 24px;
        }

        #temario-introduccion { 
            padding: 10px;
            padding-top: 2px;
            padding-bottom: 2px;
        }
    
        .explicacion-placa-mother{
            width: 60%;
            font-size: 12.5px;
            padding-left: 25px;
        }

        .placa-mother-img img{
            padding-left: 40px;
            padding-top: 45px;
            width: 320px;
            height: 200px;
        }

        .explicacion-procesador{ 
            width: 60%;
            font-size: 12.5px;
            padding-left: 25px;
        } 

        .procesador-img img{
            padding-left: 40px;
            padding-top: 85px;
            width: 320px;
            height: 200px;
        }

        .explicacion-memoria-ram{
            width: 60%;
            font-size: 12.5px;
            padding-left: 25px;
        }

        .ram-img img{
            padding-left: 40px;
            padding-top: 85px;
            width: 320px;
            height: 200px;
        }

        .explicacion-disco-duro{
            width: 60%;
            font-size: 12.5px;
            padding-left: 25px;
        } 

        .disco-duro-img img{
            padding-left: 40px;
            padding-top: 100px;
            width: 320px;
            height: 200px;
        }

        .explicacion-disco-solido{ 
            width: 60%;
            font-size: 12.5px;
            padding-left: 25px;
        }

        .disco-solido-img img{
            padding-left: 40px;
            padding-top: 60px;
            width: 320px;
            height: 200px;
        }

        .explicacion-disco-m2{ 
            width: 60%;
            font-size: 12.5px;
            padding-left: 25px;
        }

        .disco-m2-img img{
            padding-left: 55px;
            padding-top: 60px;
            width: 320px;
            height: 200px;
        }

        .explicacion-placa-video{ 
            width: 60%;
            font-size: 12.5px;
            padding-left: 25px;
        }

        .placa-video-img img{
            padding-left: 55px;
            padding-top: 80px;
            width: 320px;
            height: 200px;
        }

        .explicacion-fuente-alimentacion{ 
            width: 60%;
            font-size: 12.5px;
            padding-left: 25px;
        }

        .fuente-alimentacion-img img{
            padding-left: 55px;
            padding-top: 52px;
            width: 320px;
            height: 200px;
        }

    }


@media only screen and (max-width : 700px) { /*Tamaño Tablet/celulares mas grandes*/
    #placa-mother{
        flex-direction: column;
    }

    .explicacion-placa-mother{
        width: 90%;
        font-size: 12.5px;
        padding-left: 15px;
    }

    .placa-mother-img img{
        padding-top: 1px;
        padding-left: 15px;
        width: 320px;
        height: 200px;
    }

    #procesador{
        flex-direction: column;
    }

    .explicacion-procesador{ 
        width: 90%;
        font-size: 12.5px;
        padding-left: 15px;
    } 

    .procesador-img img{
        padding-top: 1px;
        padding-left: 15px;
        width: 320px;
        height: 200px;
    }

    #memoria-ram{
        flex-direction: column;
    }

    .explicacion-memoria-ram{
        width: 90%;
        font-size: 12.5px;
        padding-left: 15px;
    }

    .ram-img img{
        padding-left: 15px;
        padding-top: 1px;
        width: 320px;
        height: 200px;
    }

    #disco-duro{
        flex-direction: column;
    }

    .explicacion-disco-duro{
        width: 90%;
        font-size: 12.5px;
        padding-left: 15px;
    } 

    .disco-duro-img img{
        padding-left: 10px;
        padding-top: 1px;
        width: 320px;
        height: 200px;
    }

    #disco-solido{
        flex-direction: column;
    }

    .explicacion-disco-solido{ 
        width: 90%;
        font-size: 12.5px;
        padding-left: 15px;
    }

    .disco-solido-img img{
        padding-left: 15px;
        padding-top: 1px;
        width: 320px;
        height: 200px;
    }

    #disco-m2{
        flex-direction: column;
    }

    .explicacion-disco-m2{ 
        width: 90%;
        font-size: 12.5px;
        padding-left: 15px;
    }

    .disco-m2-img img{
        padding-left: 15px;
        padding-top: 1px;
        width: 320px;
        height: 200px;
    }

    #placa-video{
        flex-direction: column;
    }

    .explicacion-placa-video{ 
        width: 90%;
        font-size: 12.5px;
        padding-left: 15px;
    }

    .placa-video-img img{
        padding-left: 15px;
        padding-top: 1px;
        width: 320px;
        height: 200px;
    }

    #fuente-alimentacion{
        flex-direction: column;
    }

    .explicacion-fuente-alimentacion{ 
        width: 90%;
        font-size: 12.5px;
        padding-left: 15px;
    }

    .fuente-alimentacion-img img{
        padding-left: 15px;
        padding-top: 1px;
        width: 320px;
        height: 200px;
    }

    #form{
        background-color: black;
        margin: auto;
        width: 75%;
        max-width: 400px;
        margin-top: 60px;
        margin-bottom: 50px;
        padding: 1em 2em;
        border-radius: 15px;
        background: transparent;
        border: 3px solid rgb(0, 0, 0);
        color: rgb(0, 0, 0);
    }
    
    .form-title{
        font-size: 27.5px;
    }
    
    .texto{
        font-size: 15px;
        padding-right: 130px;
    }
    
    .form-container{
        margin-top: 2em;
        gap: 2.5em;
    }
    
    .form-group{
        position: relative;
        color: rgb(0, 0, 0);
    }
    
    .form-input{
        border-radius: 8px;
        height: 35px;
        width: 100%;
        background: none;
    }
    
    .form-submit{
        font-weight: bolder;
        border-radius: 6px;
        color: black;
        height: 30px;
        width: 20%;
    }

    .social-icons a{
        text-decoration: none;
        margin: 14px;
        font-size: 25px;
        color: rgb(255, 255, 255);
        opacity: 0.9;
    }

    .footer-nav{
        padding-left: 5px;
        text-align: center;
        padding-bottom: 32px;
    }
    
    .footer-nav a{
        text-align: center;
        color: white;
        margin: 8px;
        text-decoration: none;
        font-size: 20px;
        opacity: 0.7;
        transition: 0.5s;
    }

    #conocenos .texto-conocenos{
        width: 88%;
        font-size: 14.5px;
        padding-left: 15px;;
    }
}

