body{
    font-family: sans-serif;
    background-color: #F0F3F4;;
    margin: 0;
}


header .nombre-empresa{
    margin: 0;
    padding: 30px;
    font-weight: bold;
    font-size: 2.3em;
    color: #52BE80;
    font-style: oblique;
}

header .logo{
    display: flex;
    flex-direction: center;
    background-color: black;
    padding-right: 150px;
}

header nav{
    display: flex;
    flex-direction: center;
    padding-bottom: 3px;
    color: white;
    
}

header a{
    font-size: 21px;
    align-items: center;
    display: flex;
    padding: 15px 78px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

header a:hover{
    color: #00ff6e;
} /*fin del encabezado*/

header nav .contacto{
    color: #00ff6e;
}



.form{
    background-color: black;
    margin: auto;
    width: 40%;
    max-width: 400px;
    margin-top: 80px;
    padding: 1em 2em;
    border-radius: 15px;
    color: white;
}


.form-title{
    font-size: 2em;
}

.texto{
    font-size: 17px;
    padding-right: 130px;
}

.form-container{
    margin-top: 2em;
    gap: 2.5em;
}

.form-group{
    position: relative;
    color: white;
}

.form-input{
    border-radius: 8px;
    height: 35px;
    width: 100%;
    background: none;
    background-color: white;
}

.form-submit{
    font-weight: bolder;
    border-radius: 6px;
    color: black;
    background-color: white;
    height: 30px;
    width: 20%;
}

footer{
    margin-top: 22px;
}

footer .fin-pagina{
    background-color: black;
    color: white;
}

.fin-pagina .color-2{
    color: #00ff6e;
}